doctype html
html(lang='en')
	head
		meta(charset='utf8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
		link(href='./css/main.css', rel='stylesheet')
	body
		nav(class='navbar navbar-default' role='navigation')
			.container
				ul(class='nav navbar-nav')
					li#nav-home: a(href='/Home') Home
					li#nav-resume: a(href='/Resume') Resume
					li#nav-projects: a(href='/Projects') Projects
					li#nav-github: a(href='http://www.github.com/balajisankar1') Github Profile
					li#testing-framework: a(href='/Testing') Testing Framework 

block content



block foot
	<hr>
	.text-left
		p Email: <a href='mailto:balajisankar1@gmail.com'> balajisankar1@gmail.com </a>