extends ./base.jade

block content
	div(class='container theme-showcase text-center' role='main')
		div(class='well constrict-well text-center')
			h1 About Me
			p.
				My name is Balaji Sankaranarayanan, and I am a student of Software Engineering at the University of Waterloo. I am a lover of programming and video games, and this website is way for me to showcase my passions.
				More information about me coming soon!