extends ./base.jade

block content
	div(class='container theme-showcase text-center' role='main')
		div(class='well constrict-well text-center')
			h1 Projects
			p Below, you can find projects that I have worked on in order to gain experience in a variety of languages.
		div(class='page-header text-left')
			h2 <a href='https://github.com/PeteyPii/MyLoLFantasy'> My Lol Fantasy </a>
			p.
				My Lol Fantasy is a website for people to use for tracking "fantasy points" with their friends while playing league of legends.
				It allows users to create leagues with their friends, and view stats based off their performance in games that they play together.
		div(class='page-body text-left')
			li Worked in a team to scrape data using a publicly available API, and store it in a PostgreSQL database 
			li Created a user (and mobile) friendly interface for people to view their leagues
			li Optimized API calls in order to reduce data requests and remove redundancy
			li Utilized NodeJS, PostgreSQL, Redis, Javascript and Jade templating to create website

		div(class='page-header text-left')
			h2 <a href='https://github.com/balajisankar1/Website'> Personal Website </a>
			p.
				My personal website is a place for me to showcase all some of the things that I am working on, as well as experiment with new technologies.
				For example in the future, it is likely that other projects may be hosted alongside my main project on this domain.
		div(class='page-body text-left')
			li Learned behind the scenes process of building and hosting a Node.JS server
			li Used NodeJS, JavaScript and Jade Templating to Create Website

		div(class='page-header text-left')
			h2 Statistics Saving Application
			p.
				In the past, it was impossible League of Legends players to see stats about the games they played once their 10 game history passed.
				For that reason, I created an application that stored (locally) information about a users games.
		div(class='page-body text-left')
			li Distributed and supported software to friends who tested and provided input
			li Created own "database" to store data
			li Utilized C# and Visual C# to create project