extends ./base.jade

block content
	div(class='container theme-showcase text-center' role='main')
		div(class='well constrict-well text-center')
			h1 My Resume
			p My resume which details my previous experience and summarises my side projects can be found below, or downloaded <a href='/getResume'> here </a>
	
	iframe(src='/getResume' width="100%" height="60%")