extends ./base.jade

block content
	div(class='container theme-showcase text-center' role='main')
		div(class='well constrict-well text-center')
			h1 Testing Framework
			p This is a place for me to test (robustly) school-work and assignments. The features I hope to implement and utilize for this are:
			li Upload zip file with cpp, .h and makefile then compile this
			li Allow upload of test inputs / outputs, or
			li Allow upload of (linux zip) of 'ideal' program
			li Perform tests and provide results

			p.
				Unfortunately, given the sensitive nature of running tests locally, unless a better method of running the tests is found, 
				it will have to be restricted with an adminstrator password

	form(action='/SubmitTest', method='post', enctype="multipart/form-data")
		input(type='file', name='cppfiles') 
		input(type='password', name='password', placeholder='Admin Password') 
		<br>
		input(type='submit',  value='Attempt Tests')